# Activity 3.2 – Recoding and Aggregating a Health Care Survey

## Part 1 – Three ways to recode

Before we get the the main event, let’s practice recoding the survey
data in three ways. In all cases, our goal is to assign a score of `5` to
`"Strongly Agree"` down to a score of `1` to `"Strongly Disagree"`.

| Old Label                    | Regular Coded Value |
|------------------------------|---------------------|
| `"Strongly Disagree"`          | 1                   |
| `"Somewhat Disagree"`          | 2                   |
| `"Neither Agree nor Disagree"` | 3                   |
| `"Somewhat Agree"`             | 4                   |
| `"Strongly Agree"`             | 5                   |

**Preparation.** Recall that the `more_dfply.recode` function allows us to
recode a column using a `dict`.

1.  Load the health survey data found in the data folder.  Inspect the column names, then fix the issues with the `"."`s.  **Hint.** We can use `dfply.rename` with the `dict` unpacking trick.

In [225]:
import pandas as pd
from dfply import *
from more_dfply import recode

In [226]:
# Your code here
survey = pd.read_csv('./data/health_survey.csv')

In [228]:
survey.head()

,ID,F1,F5,F2,F1.1,F2.1,F6,F4,F3,F5.1,...,F2.9,F3.4,F4.3,F2.10,F1.7,F6.4,F4.4,F5.7,F3.5,F2.11
0,1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree
2,3,Strongly Agree,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Strongly Disagree,Somewhat Agree
3,4,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Strongly Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree
4,5,Strongly Agree,Strongly Disagree,Neither Agree nor Disagree,Strongly Agree,Somewhat Agree,Strongly Disagree,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree

In [229]:
new_names =   {c.replace('.', '_') : c  for c in survey.columns }
new_names

{'ID': 'ID',
 'F1': 'F1',
 'F5': 'F5',
 'F2': 'F2',
 'F1_1': 'F1.1',
 'F2_1': 'F2.1',
 'F6': 'F6',
 'F4': 'F4',
 'F3': 'F3',
 'F5_1': 'F5.1',
 'F1_2': 'F1.2',
 'F2_2': 'F2.2',
 'F6_1': 'F6.1',
 'F2_3': 'F2.3',
 'F4_1': 'F4.1',
 'F2_4': 'F2.4',
 'F5_2': 'F5.2',
 'F2_5': 'F2.5',
 'F6_2': 'F6.2',
 'F1_3': 'F1.3',
 'F2_6': 'F2.6',
 'F5_3': 'F5.3',
 'F4_2': 'F4.2',
 'F2_7': 'F2.7',
 'F3_1': 'F3.1',
 'F2_8': 'F2.8',
 'F5_4': 'F5.4',
 'F3_2': 'F3.2',
 'F1_4': 'F1.4',
 'F3_3': 'F3.3',
 'F1_5': 'F1.5',
 'F5_5': 'F5.5',
 'F6_3': 'F6.3',
 'F1_6': 'F1.6',
 'F5_6': 'F5.6',
 'F2_9': 'F2.9',
 'F3_4': 'F3.4',
 'F4_3': 'F4.3',
 'F2_10': 'F2.10',
 'F1_7': 'F1.7',
 'F6_4': 'F6.4',
 'F4_4': 'F4.4',
 'F5_7': 'F5.7',
 'F3_5': 'F3.5',
 'F2_11': 'F2.11'}

In [230]:
survey = pd.read_csv('./data/health_survey.csv') >> rename(**new_names)

In [231]:
survey.head(3)

,ID,F1,F5,F2,F1_1,F2_1,F6,F4,F3,F5_1,...,F2_9,F3_4,F4_3,F2_10,F1_7,F6_4,F4_4,F5_7,F3_5,F2_11
0,1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree
2,3,Strongly Agree,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Strongly Disagree,Somewhat Agree

2.  Use `unique` to verify the labels of various columns. Create a `dict` mapping each survey responses to the corresponding score.

In [232]:
survey.F1.unique()

array(['Somewhat Agree', 'Strongly Agree', 'Neither Agree nor Disagree',
       'Somewhat Disagree'], dtype=object)

In [233]:
survey.F2.unique()

array(['Somewhat Agree', 'Strongly Agree', 'Neither Agree nor Disagree',
       'Somewhat Disagree', nan], dtype=object)

In [234]:
dict_converter = { 'Strongly Disagree' : 1, 
                    'Somewhat Disagree': 2, 
                    'Neither Agree nor Disagree' : 3,
                    'Somewhat Agree' : 4,
                    'Strongly Agree' : 5  }

In [235]:
recoder =   { c: survey[c].map(dict_converter).astype('Int64') for c in survey.columns }

In [236]:
(survey
>> mutate(**recoder)
)

,ID,F1,F5,F2,F1_1,F2_1,F6,F4,F3,F5_1,...,F2_9,F3_4,F4_3,F2_10,F1_7,F6_4,F4_4,F5_7,F3_5,F2_11
0,<NA>,4,2,4,4,4,2,4,4,4,...,4,2,3,4,4,4,4,4,4,4
1,<NA>,4,2,4,4,4,2,4,3,3,...,4,4,3,4,4,2,3,4,3,4
2,<NA>,5,3,4,5,5,2,4,4,4,...,4,4,3,4,4,4,4,5,1,4
3,<NA>,4,4,5,4,5,3,3,2,4,...,4,2,4,4,3,3,3,4,2,4
4,<NA>,5,1,3,5,4,1,5,4,3,...,4,4,3,4,4,4,4,5,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,<NA>,4,2,4,3,4,1,4,3,4,...,5,4,3,4,3,3,4,4,4,3
260,<NA>,4,4,5,5,4,2,4,4,4,...,4,4,3,3,3,<NA>,4,4,4,4
261,<NA>,4,3,4,5,5,2,5,4,4,...,4,3,2,4,2,3,5,3,3,4
262,<NA>,5,2,5,5,4,2,4,4,4,...,4,4,2,4,4,2,4,5,2,4
263,<NA>,4,1,5,4,5,3,5,3,2,...,4,3,2,4,4,3,4,5,1,4

3.  Test your dictionary with the `map` method on one of the columns.  The columns `F2` and `F1.1` are good test cases.

In [237]:
# Your code here

survey['F2'].map(dict_converter).astype('Int64')

0      4
1      4
2      4
3      5
4      3
      ..
259    4
260    5
261    4
262    5
263    5
Name: F2, Length: 264, dtype: Int64

In [238]:
survey['F1_1'].map(dict_converter).astype('Int64')

0      4
1      4
2      5
3      4
4      5
      ..
259    3
260    5
261    5
262    5
263    4
Name: F1_1, Length: 264, dtype: Int64

4. Explain why you should be using the `pandas` `Int64` data type here.  Details on the necessity and use of this data type can be found in [Lecture 2.4](https://github.com/wsu-stat489/module2_intro_to_pandas/blob/main/2_4_pandas_dtypes.ipynb)

*pandas Int64 is used for integer because we are gonna to aggregate it later.*

#### Method 1 – Brute Force. 

The naïve approach to applying our mapping
is the construct a `mutate`, writing one line per column. This will become
annoying.

1.  Create a pipe that uses `mutate` to transform at least 10 of the columns.

In [239]:
# Your code here

(survey
>> mutate(F1 = X.F1.map(dict_converter).astype('Int64'))
>> mutate(F1 = X.F2.map(dict_converter).astype('Int64'))
>> mutate(F1 = X.F3.map(dict_converter).astype('Int64'))
>> mutate(F1 = X.F4.map(dict_converter).astype('Int64'))
>> mutate(F1 = X.F5.map(dict_converter).astype('Int64'))
>> mutate(F1 = X['F1_1'].map(dict_converter).astype('Int64'))
>> mutate(F1 = X['F1_2'].map(dict_converter).astype('Int64'))
>> mutate(F1 = X['F1_3'].map(dict_converter).astype('Int64'))
>> mutate(F1 = X['F2_1'].map(dict_converter).astype('Int64'))
>> mutate(F1 = X['F1_2'].map(dict_converter).astype('Int64'))
)

,ID,F1,F5,F2,F1_1,F2_1,F6,F4,F3,F5_1,...,F2_9,F3_4,F4_3,F2_10,F1_7,F6_4,F4_4,F5_7,F3_5,F2_11
0,1,4,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,4,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree
2,3,5,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Strongly Disagree,Somewhat Agree
3,4,5,Somewhat Agree,Strongly Agree,Somewhat Agree,Strongly Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree
4,5,5,Strongly Disagree,Neither Agree nor Disagree,Strongly Agree,Somewhat Agree,Strongly Disagree,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,260,5,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Strongly Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,...,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree
260,261,4,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,NaN,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
261,262,5,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Disagree,Strongly Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Strongly Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree
262,263,5,Somewhat Disagree,Strongly Agree,Strongly Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree
263,264,5,Strongly Disagree,Strongly Agree,Somewhat Agree,Strongly Agree,Neither Agree nor Disagree,Strongly Agree,Neither Agree nor Disagree,Somewhat Disagree,...,Somewhat Agree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Strongly Disagree,Somewhat Agree

2.  Explain,

    1.  in vivid detail, exactly how annoying it would be to continue
        this process.

<font color="lightgreen"> **Incredibly annoying cause I have to do a lot of copy paste and there are some mistakes** </font>

    B.  how this might be prone to buggy code.

<font color="lightgreen"> **Because we may have some typos and the more code ususlly results more error** </font>

#### Method 2 – dictionary unpacking. 

Recall that we cleaned up repeated,
similar transformations in [Lecture 3.5](https://github.com/wsu-stat489/module3_more_about_mutate/blob/main/3_5_DRY_and_many_transformations.ipynb). Let’s apply that approach here.

1.  Get a `list` of all the questions columns, e.g., using `dfply.columns_from`.

In [240]:
# Your code here
col_to_recode = columns_from('F1').evaluate(survey)
# col_to_recode

2.  Pick one of the columns and write the expression to transform that
    column. Be sure to use the `df["col_string"]` method of referencing
    the column.

In [241]:
# Your code here

survey['F1'].map(dict_converter).astype('Int64').head(2)

0    4
1    4
Name: F1, dtype: Int64

3.  Create a variable to hold this column string. Replace the hard coded
    column name with a variable. Rerun to test.

In [242]:
# Your code here
c = 'F1'
survey[c].map(dict_converter).astype('Int64').head(2)

0    4
1    4
Name: F1, dtype: Int64

4.  Convert the single expression to a `dict` using a comprehension
    that iterates over all column names. We want the keys to the be the
    column names and values the resulting recoded columns.  Rerun to
    test. Clean up the code by packaging the complexity in `lambda` functions.

In [243]:
# Your code here
reg_recode = { c: (survey[c]
                .map(dict_converter)
                .astype('Int64')
                ) 
                for c in col_to_recode }
reg_recode

{'F1': 0      4
 1      4
 2      5
 3      4
 4      5
       ..
 259    4
 260    4
 261    4
 262    5
 263    4
 Name: F1, Length: 264, dtype: Int64,
 'F5': 0      2
 1      2
 2      3
 3      4
 4      1
       ..
 259    2
 260    4
 261    3
 262    2
 263    1
 Name: F5, Length: 264, dtype: Int64,
 'F2': 0      4
 1      4
 2      4
 3      5
 4      3
       ..
 259    4
 260    5
 261    4
 262    5
 263    5
 Name: F2, Length: 264, dtype: Int64,
 'F1_1': 0      4
 1      4
 2      5
 3      4
 4      5
       ..
 259    3
 260    5
 261    5
 262    5
 263    4
 Name: F1_1, Length: 264, dtype: Int64,
 'F2_1': 0      4
 1      4
 2      5
 3      5
 4      4
       ..
 259    4
 260    4
 261    5
 262    4
 263    5
 Name: F2_1, Length: 264, dtype: Int64,
 'F6': 0      2
 1      2
 2      2
 3      3
 4      1
       ..
 259    1
 260    2
 261    2
 262    2
 263    3
 Name: F6, Length: 264, dtype: Int64,
 'F4': 0      4
 1      4
 2      4
 3      3
 4      5
       ..
 259    4
 260    4
 261    5
 262    4
 263    5
 Name: F4, Length: 264, dtype: Int64,
 'F3': 0      4
 1      3
 2      4
 3      2
 4      4
       ..
 259    3
 260    4
 261    4
 262    4
 263    3
 Name: F3, Length: 264, dtype: Int64,
 'F5_1': 0      4
 1      3
 2      4
 3      4
 4      3
       ..
 259    4
 260    4
 261    4
 262    4
 263    2
 Name: F5_1, Length: 264, dtype: Int64,
 'F1_2': 0      4
 1      4
 2      5
 3      5
 4      5
       ..
 259    5
 260    4
 261    5
 262    5
 263    5
 Name: F1_2, Length: 264, dtype: Int64,
 'F2_2': 0      4
 1      3
 2      4
 3      5
 4      4
       ..
 259    5
 260    4
 261    4
 262    5
 263    5
 Name: F2_2, Length: 264, dtype: Int64,
 'F6_1': 0      4
 1      4
 2      3
 3      4
 4      4
       ..
 259    4
 260    4
 261    4
 262    4
 263    4
 Name: F6_1, Length: 264, dtype: Int64,
 'F2_3': 0      4
 1      4
 2      4
 3      4
 4      2
       ..
 259    4
 260    4
 261    3
 262    4
 263    4
 Name: F2_3, Length: 264, dtype: Int64,
 'F4_1': 0      4
 1      3
 2      3
 3      3
 4      3
       ..
 259    3
 260    2
 261    1
 262    3
 263    2
 Name: F4_1, Length: 264, dtype: Int64,
 'F2_4': 0      4
 1      4
 2      4
 3      5
 4      4
       ..
 259    4
 260    4
 261    4
 262    4
 263    4
 Name: F2_4, Length: 264, dtype: Int64,
 'F5_2': 0      4
 1      4
 2      2
 3      2
 4      1
       ..
 259    2
 260    3
 261    1
 262    1
 263    1
 Name: F5_2, Length: 264, dtype: Int64,
 'F2_5': 0      4
 1      4
 2      5
 3      5
 4      5
       ..
 259    4
 260    4
 261    4
 262    4
 263    5
 Name: F2_5, Length: 264, dtype: Int64,
 'F6_2': 0      4
 1      4
 2      4
 3      4
 4      5
       ..
 259    5
 260    3
 261    4
 262    5
 263    4
 Name: F6_2, Length: 264, dtype: Int64,
 'F1_3': 0      4
 1      4
 2      5
 3      4
 4      5
       ..
 259    4
 260    4
 261    3
 262    5
 263    4
 Name: F1_3, Length: 264, dtype: Int64,
 'F2_6': 0      4
 1      4
 2      4
 3      5
 4      5
       ..
 259    5
 260    4
 261    3
 262    4
 263    5
 Name: F2_6, Length: 264, dtype: Int64,
 'F5_3': 0      4
 1      4
 2      4
 3      4
 4      5
       ..
 259    4
 260    4
 261    4
 262    2
 263    4
 Name: F5_3, Length: 264, dtype: Int64,
 'F4_2': 0      4
 1      4
 2      4
 3      4
 4      4
       ..
 259    4
 260    4
 261    4
 262    4
 263    4
 Name: F4_2, Length: 264, dtype: Int64,
 'F2_7': 0         4
 1         4
 2      <NA>
 3         4
 4         4
        ...
 259       4
 260       4
 261       3
 262       4
 263       4
 Name: F2_7, Length: 264, dtype: Int64,
 'F3_1': 0      2
 1      3
 2      2
 3      2
 4      4
       ..
 259    3
 260    4
 261    2
 262    2
 263    3
 Name: F3_1, Length: 264, dtype: Int64,
 'F2_8': 0      4
 1      4
 2      4
 3      4
 4      4
       ..
 259    4
 260    4
 261    5
 262    4
 263    4
 Name: F2_8, Length: 264, dtype: Int64,
 'F5_4': 0      4
 1      3
 2      4
 3      4
 4      3
       ..
 259    4
 260    4
 261    4
 262    2
 263    3
 Name: F5_4, Length: 264, dtype: Int64,
 'F3_2': 0      4
 1      3
 2      4
 3      2
 4      4
       ..
 259    4
 260    4
 261    4
 262    4
 263    3
 Name: F3_2, Length: 264, dtype: Int64,
 'F1_4': 0      3
 1      4
 2      2
 3      3
 4      4
       ..
 259    4
 260    3
 261    2
 262    4
 263    4
 Name: F1_4, Length: 264, dtype: Int64,
 'F3_3': 0      4
 1      3
 2      4
 3      2
 4      4
       ..
 259    4
 260    4
 261    4
 262    4
 263    3
 Name: F3_3, Length: 264, dtype: Int64,
 'F1_5': 0      4
 1      3
 2      5
 3      4
 4      4
       ..
 259    4
 260    4
 261    4
 262    5
 263    4
 Name: F1_5, Length: 264, dtype: Int64,
 'F5_5': 0      2
 1      3
 2      2
 3      2
 4      1
       ..
 259    1
 260    2
 261    1
 262    2
 263    1
 Name: F5_5, Length: 264, dtype: Int64,
 'F6_3': 0      2
 1      2
 2      2
 3      4
 4      3
       ..
 259    1
 260    2
 261    2
 262    2
 263    3
 Name: F6_3, Length: 264, dtype: Int64,
 'F1_6': 0      4
 1      4
 2      5
 3      5
 4      5
       ..
 259    5
 260    4
 261    5
 262    5
 263    4
 Name: F1_6, Length: 264, dtype: Int64,
 'F5_6': 0      4
 1      2
 2      2
 3      2
 4      1
       ..
 259    1
 260    3
 261    1
 262    1
 263    2
 Name: F5_6, Length: 264, dtype: Int64,
 'F2_9': 0      4
 1      4
 2      4
 3      4
 4      4
       ..
 259    5
 260    4
 261    4
 262    4
 263    4
 Name: F2_9, Length: 264, dtype: Int64,
 'F3_4': 0      2
 1      4
 2      4
 3      2
 4      4
       ..
 259    4
 260    4
 261    3
 262    4
 263    3
 Name: F3_4, Length: 264, dtype: Int64,
 'F4_3': 0      3
 1      3
 2      3
 3      4
 4      3
       ..
 259    3
 260    3
 261    2
 262    2
 263    2
 Name: F4_3, Length: 264, dtype: Int64,
 'F2_10': 0      4
 1      4
 2      4
 3      4
 4      4
       ..
 259    4
 260    3
 261    4
 262    4
 263    4
 Name: F2_10, Length: 264, dtype: Int64,
 'F1_7': 0      4
 1      4
 2      4
 3      3
 4      4
       ..
 259    3
 260    3
 261    2
 262    4
 263    4
 Name: F1_7, Length: 264, dtype: Int64,
 'F6_4': 0         4
 1         2
 2         4
 3         3
 4         4
        ...
 259       3
 260    <NA>
 261       3
 262       2
 263       3
 Name: F6_4, Length: 264, dtype: Int64,
 'F4_4': 0      4
 1      3
 2      4
 3      3
 4      4
       ..
 259    4
 260    4
 261    5
 262    4
 263    4
 Name: F4_4, Length: 264, dtype: Int64,
 'F5_7': 0      4
 1      4
 2      5
 3      4
 4      5
       ..
 259    4
 260    4
 261    3
 262    5
 263    5
 Name: F5_7, Length: 264, dtype: Int64,
 'F3_5': 0      4
 1      3
 2      1
 3      2
 4      2
       ..
 259    4
 260    4
 261    3
 262    2
 263    1
 Name: F3_5, Length: 264, dtype: Int64,
 'F2_11': 0      4
 1      4
 2      4
 3      4
 4      4
       ..
 259    3
 260    4
 261    4
 262    4
 263    4
 Name: F2_11, Length: 264, dtype: Int64}

5.  Use our dictionary in a mutate using `**` unpacking.

In [244]:
# Your code here
(survey
>> mutate(**reg_recode)
>> head()
)

,ID,F1,F5,F2,F1_1,F2_1,F6,F4,F3,F5_1,...,F2_9,F3_4,F4_3,F2_10,F1_7,F6_4,F4_4,F5_7,F3_5,F2_11
0,1,4,2,4,4,4,2,4,4,4,...,4,2,3,4,4,4,4,4,4,4
1,2,4,2,4,4,4,2,4,3,3,...,4,4,3,4,4,2,3,4,3,4
2,3,5,3,4,5,5,2,4,4,4,...,4,4,3,4,4,4,4,5,1,4
3,4,4,4,5,4,5,3,3,2,4,...,4,2,4,4,3,3,3,4,2,4
4,5,5,1,3,5,4,1,5,4,3,...,4,4,3,4,4,4,4,5,2,4

In [245]:
(survey
>> mutate(**reg_recode)).to_csv('./data/survey_recode_part1.csv', index=False)

#### Method 3 – Stack Transform Unstack. 

Another method for applying the
same transformation to multiple columns is to (A) stack all the columns
that need transformation, (B) applying the transformation to the stacked
values column, and (C) unstacking the data back into the original shape.
This is the approach you will apply in **Part 2**.

## Part 2 – Performing data preparation

Dr. Bergen, Director of the Statistical Consulting Center at WSU, needs
you to prepare the attached data for analysis. The file
**health_survey.csv** contains the responses to a series of
health-related questions and we need to recode the responses as 1-5
using the definition below. It is important to note that the clients
consider “Strongly Agree” the best answer for most of the questions
coded and want it mapped to 5, but there are a handful of questions for
which they want the mapping reversed as “Strongly Disagree” the
preferred answer. The two types of codings are illustrated in the table
shown below and the list of questions that should receive the reverse
coding are available in the file **ReverseCodingItems.csv**.

| Old Label                    | Regular Coded Value | Reverse Coding |
|------------------------------|---------------------|----------------|
| “Strongly Disagree”          | 1                   | 5              |
| “Somewhat Disagree”          | 2                   | 4              |
| “Neither Agree nor Disagree” | 3                   | 3              |
| “Somewhat Agree”             | 4                   | 2              |
| “Strongly Agree”             | 5                   | 1              |

**Note.** I have prototyped this process in JMP and have provided screenshots of the resulting tables as a guide.

1.  Read in the `ReverseCodingItems.csv` file.  Note that the names in the `"Column Name"` column contain `"."`s.  Fix this, then look at the questions that need reverse coding and explain why it makes sense to reverse the coding on these items.

In [246]:
from more_dfply import *

In [247]:
reverse_coding = pd.read_csv('./data/ReverseCodingItems.csv') >> fix_names() >> mutate(Column_Name = X.Column_Name.str.replace('.', '_', regex = True))
reverse_coding.head(10)

,Question,Construct,Question__on_Qualtrics_Survey,Needs_Reverse_Coding,Column_Name
0,"In the future, I plan to participate in a comm...",1,1,No,F1
1,Individuals are responsible for their own misf...,5,2,Yes,F5
2,When tryng to understand the position of other...,2,3,No,F2
3,I plan to become involved in my community,1,4,No,F1_1
4,I can communicate well with others,2,5,No,F2_1
5,It is hard for a group to function effectively...,6,6,Yes,F6
6,I feel that I can make a difference in the world,4,7,No,F4
7,I am knowledgable of the issues facing the world,3,8,No,F3
8,We need to institute reforms within the curren...,5,9,No,F5_1
9,I plan to help others who are in difficulty,1,10,No,F1_2

<font color="lightgreen"> *Some questions show the negativity instead of postivity: "Individuals are responsible for their own misforturnes...", "It is hard for a group...". Therefore, we have to reverse the coding on some items.* </font>

2. Next, you will perform the data preparation by completing each of
    the tasks listed below.  First, *Stack* the response columns.

<img src="img/media/image1.png" style="width:2.91924in;height:1.85212in" alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.30.46%20" />

Work in a pipe and add a temporary `head` at the end.

In [248]:
(survey >> gather('Question', 'Response', columns_from('F1'))).head()

   ID Question        Response
0   1       F1  Somewhat Agree
1   2       F1  Somewhat Agree
2   3       F1  Strongly Agree
3   4       F1  Somewhat Agree
4   5       F1  Strongly Agree

3.  Make a new column called *Needs Reverse* by joining on
    the `"Yes"` or `"No"` values from the *Needs Reverse Coding?* from **ReverseCodingItems.csv.**

> <img src="img/media/image2.png"
> style="width:3.78315in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.35.26%20" />

Start by copying and adding to the pipe from the previous cell. In practice, you would continue to work in the same cell, but we are illustrating the standard best practice in working with data, by continually cycling through the following steps

1. Add the next step
2. Rerun your code to test.

I want to verify that you are following this practice, which is why we will be copying our previous code to the next step

In [249]:
reverse_coding.rename(columns={'Column_Name': 'QuestionCode'}, inplace=True)
reverse_coding.head()

,Question,Construct,Question__on_Qualtrics_Survey,Needs_Reverse_Coding,QuestionCode
0,"In the future, I plan to participate in a comm...",1,1,No,F1
1,Individuals are responsible for their own misf...,5,2,Yes,F5
2,When tryng to understand the position of other...,2,3,No,F2
3,I plan to become involved in my community,1,4,No,F1_1
4,I can communicate well with others,2,5,No,F2_1

In [250]:
# Copy your last pipe and edit the code here

(survey >> gather('QuestionCode', 'Response', columns_from('F1'))
>> left_join(reverse_coding, by = 'QuestionCode')
).head()

,ID,QuestionCode,Response,Question,Construct,Question__on_Qualtrics_Survey,Needs_Reverse_Coding
0,1,F1,Somewhat Agree,"In the future, I plan to participate in a comm...",1,1,No
1,2,F1,Somewhat Agree,"In the future, I plan to participate in a comm...",1,1,No
2,3,F1,Strongly Agree,"In the future, I plan to participate in a comm...",1,1,No
3,4,F1,Somewhat Agree,"In the future, I plan to participate in a comm...",1,1,No
4,5,F1,Strongly Agree,"In the future, I plan to participate in a comm...",1,1,No

4.   We already created a `dict` for the regular coding.  Make a `dict` for the reverse coding using a `dict` comprehension.  Remember to use the `items` method and two names to iterate through the original `dict`.  Use subtraction.

In [251]:
# Copy your last pipe and edit the code here
dict_converter = { 'Strongly Disagree' : 1, 
                    'Somewhat Disagree': 2, 
                    'Neither Agree nor Disagree' : 3,
                    'Somewhat Agree' : 4,
                    'Strongly Agree' : 5  }

# reverse dict based on dict_converter

rev_dict_converter = {k: 6 - v for k, v in dict_converter.items()}

In [252]:
rev_dict_converter

{'Strongly Disagree': 5,
 'Somewhat Disagree': 4,
 'Neither Agree nor Disagree': 3,
 'Somewhat Agree': 2,
 'Strongly Agree': 1}

5.   Next we need to make a column with the question type.  For example, all questions that start with `F1`, like `F1` and `F1_1`, need to be coded as `F1`.  Add a `mutate` to create this column using one of the string transformations (extract, split, etc.) from this module.

> <img src="img/media/image6.png"
> style="width:2.97769in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.45.03%20" />

In [253]:
# Copy your last pipe and edit the code here

(survey >> gather('QuestionCode', 'Response', columns_from('F1'))
>> left_join(reverse_coding, by = 'QuestionCode')
>> drop('Construct', 'Question__on_Qualtrics_Survey', 'Question')
>> mutate(question_type = (X.QuestionCode.str.split('_').str.get(0)))
).head()

   ID QuestionCode        Response Needs_Reverse_Coding question_type
0   1           F1  Somewhat Agree                   No            F1
1   2           F1  Somewhat Agree                   No            F1
2   3           F1  Strongly Agree                   No            F1
3   4           F1  Somewhat Agree                   No            F1
4   5           F1  Strongly Agree                   No            F1

6.  Make a new column by *Recoding* the Question Types to *F1, F2, …,
    F6.* based on the `Question Type`. **Hint:** You might want to use the `dfply.ifelse`.

> <img src="img/media/image6.png"
> style="width:2.97769in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.45.03%20" />

In [254]:
# Copy your last pipe and edit the code here
(survey >> gather('QuestionCode', 'Response', columns_from('F1'))
>> left_join(reverse_coding, by = 'QuestionCode')
>> drop('Construct', 'Question__on_Qualtrics_Survey', 'Question')
>> mutate(question_type = (X.QuestionCode.str.split('_').str.get(0)),
    coded_value = ifelse(X['Needs_Reverse_Coding'] == 'Yes',
                        X.Response.map(rev_dict_converter),
                        X.Response.map(dict_converter).astype('Int64')))
).head()

,ID,QuestionCode,Response,Needs_Reverse_Coding,question_type,coded_value
0,1,F1,Somewhat Agree,No,F1,4
1,2,F1,Somewhat Agree,No,F1,4
2,3,F1,Strongly Agree,No,F1,5
3,4,F1,Somewhat Agree,No,F1,4
4,5,F1,Strongly Agree,No,F1,5

7.  *Aggregate* and *unstack.*

> <img src="img/media/image7.png"
> style="width:2.46321in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.46.11%20" />
> <img src="img/media/image8.png"
> style="width:2.96893in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.46.34%20" />

In [255]:
# Copy your last pipe and edit the code here

health_survey = (survey >> gather('QuestionCode', 'Response', columns_from('F1'))
>> left_join(reverse_coding, by = 'QuestionCode')
>> drop('Construct', 'Question__on_Qualtrics_Survey', 'Question')
>> mutate(question_type = (X.QuestionCode.str.split('_').str.get(0)),
    coded_value = ifelse(X['Needs_Reverse_Coding'] == 'Yes',
                        X.Response.map(rev_dict_converter),
                        X.Response.map(dict_converter)).astype('Int64'))
>> group_by(X.ID, X.question_type)
>> summarize(total_coded_value = X.coded_value.sum())
>> spread(X.question_type, X.total_coded_value)
>> rename(Participant = 'ID')
)
health_survey.head()

   Participant  F1  F2  F3  F4  F5  F6
0            1  31  48  20  17  28  18
1            2  31  47  19  17  27  20
2            3  36  46  19  18  32  17
3            4  32  54  12  15  30  16
4            5  37  47  22  19  36  19

8.  Save the table to a csv file in the `data` folder.

In [256]:
# Your code here
health_survey.to_csv('./data/health_survey_part2_final.csv', index = False)

**Deliverables.** Submit this document with your answer to question 1,
the JMP file containing the results of Part 1, and a csv file with your
final table.